
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load static from staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Coming Soon</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "960.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="shim"></div>
    <div id="content">
        <h1 class="logo"><span class="one">{{ website_name_1 }}</span> <span class="two">{{ website_name_2 }}</span></h1>
        <p class="info">Our website is coming soon.<br/>
            <!-- <span>In the mean time connect with us with the information below</span> -->
        </p>
    </div>

</body>
</html>
