body {
    background-color: #eee;
    color: #222;
}

h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: geomanistextralight,helvetica,arial;
    font-size: 264px;
    margin-bottom: 50px;
    color: #27ae60;

}

h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: geomanistextralight,helvetica,arial;
    font-size: 50px;
    color: #27ae60;
}

.main-container {
    position: relative;
    height: 100%;
    max-width:800px;
    height:50%;
    margin:0 auto;
    position:absolute;
    top:0;left:0;bottom:0;right:0
}

.main-container h1 {
    margin: 38px 0 0;
    text-align: center;
}

.main-container h2 {
    margin: 0 auto;
    text-align: center;
}

.main-container .return {
    width: 50%;
    margin: 100px auto;
}

.main-container a {
    margin: 0 auto;
    display: inline-block;
    padding: 20px 20px;
    border: 1px solid #27ae60;
    border-radius: 3px;
    font-family: geomanistbook,helvetica,arial;
    font-size: 14px;
    color: #27ae60;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 50%;
}

.main-container a:hover {
    background-color:#27ae60;
    color:#fff;
}